/Dockerfile
.venv
.env
node_modules
__pycache__
README.md
/papers/

/experiments/
/lib/
*.backup

backend/lib

images/

*.pdf

*.drawio
experiments/
experiments_GPT_5/
experiments_old/
*.sty
*.csv
*.bkp